	#hello-world{
		font-weight: bold;
		font-family: arial-black; 
		font-size: 48px;
		position: absolute;
		width: 330px;height:80px;
		top:50%;left:50%;
		margin-left: -165px;
		margin-top: -40px;
		text-shadow:3px 3px 3px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease; -o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;transition: all 0.3s ease;
	}

	#hello-world:hover{ 
		text-shadow:3px 3px 100px;
	}